body {
    background: url(../imgs/rays.svg) no-repeat center center, radial-gradient(ellipse at center, rgba(0,0,0,0) 30%, rgba(0,0,0,0.3) 100%);
    background-size: cover;
    background-attachment: fixed;
    background-color: #277455;
}

#layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-container {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 3px;
    line-height: 0;
}

circle {
    fill: #fff;
}

text {
    stroke: #000;
    font-size: 14pt;
}

text.name {
    font-family: 'Roboto';
    font-weight: 300;
}

text.link {
    font-family: 'FontAwesome';
    fill: #666;
    cursor: pointer;
}